<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WCFServerDB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCFServerDB.Service1">
                <endpoint address="" binding="basicHttpBinding" contract="WCFServerDB.IService1">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServerDB/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFServerDB.ServiceContoCorrente">
                <endpoint address="" binding="basicHttpBinding" contract="WCFServerDB.IServiceContoCorrente">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServerDB/ServiceContoCorrente/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFServerDB.ServiceAccountPersona.ServiceAccountPersona">
                <endpoint address="" binding="basicHttpBinding" contract="WCFServerDB.ServiceAccountPersona.IServiceAccountPersona">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceAccountPersona/ServiceAccountPersona/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFServerDB.ServiceFiliale.ServiceFiliale">
                <endpoint address="" binding="basicHttpBinding" contract="WCFServerDB.ServiceFiliale.IServiceFiliale">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceFiliale/Service1/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WCFServerDB.ServiceMovimenti.ServiceMovimenti">
                <endpoint address="" binding="basicHttpBinding" contract="WCFServerDB.ServiceMovimenti.IServiceMovimenti">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceMovimenti/ServiceMovimenti/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <appSettings>
            <add key="connectionString" value="server=DESKTOP-QI7GBPD\SQLEXPRESS;database=BankDB;integrated security=sspi"/>
    </appSettings>
</configuration>