<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceAccountPersona" />
                <binding name="BasicHttpBinding_IServiceContoCorrente" />
                <binding name="BasicHttpBinding_IServiceMovimenti" />
                <binding name="BasicHttpBinding_IServiceFiliale" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceAccountPersona/ServiceAccountPersona/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceAccountPersona"
                contract="ServiceReferenceAccountPersona.IServiceAccountPersona"
                name="BasicHttpBinding_IServiceAccountPersona" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFServerDB/ServiceContoCorrente/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceContoCorrente"
                contract="ServiceReferenceContoCorrente.IServiceContoCorrente"
                name="BasicHttpBinding_IServiceContoCorrente" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceMovimenti/ServiceMovimenti/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMovimenti"
                contract="ServiceReferenceMovimenti.IServiceMovimenti" name="BasicHttpBinding_IServiceMovimenti" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/WCFServerDB.ServiceFiliale/ServiceFiliale/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceFiliale"
                contract="ServiceReferenceFiliale.IServiceFiliale" name="BasicHttpBinding_IServiceFiliale" />
        </client>
    </system.serviceModel>
</configuration>